.brief_block {
  padding: 60px 100px;
  background: linear-gradient(134.17deg, #EFF2F8 4.98%, #F3F5F8 17.62%, #FCFCFC 94.88%);
  box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.8), 7px 7px 14px rgba(144, 165, 194, 0.65);
  border-radius: 10px;
  margin-bottom: 30px;
  .notification {
    margin-bottom: 32px;
    p {
      font-size: 12px;
      line-height: 16.8px;
    }
    .close {
      margin: 0;
    }
  }
  .wrapper {
    margin: 0 0 50px 0;
    display: flex;
    justify-content: space-between;
    span {
      font-size: 18px;
      line-height: 24.3px;
      min-width: 281px;
      max-width: 281px;
      &:first-of-type {
        font-size: 20px;
        line-break: 26.4px;
        min-width: 0;
      }
    }
    .images {
      min-width: 281px;
    }
    .image_wrapper {
      display: flex;
      .image {
        display: flex;
        flex-direction: column;
        &:first-of-type {
          margin-right: 40px;
        }
        img {
          margin-bottom: 8px;
        }
      }
      margin-bottom: 26px;
    }
    .wrap {
      min-width: 312px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .audio {
      display: flex;
      max-width: 232px;
      background: linear-gradient(134.17deg, #E8EDF5 4.98%, #ECEFF3 17.62%, #F2F4F7 94.88%);
      border-radius: 10px;
      padding: 9px 15px 9px 9px;
      .info {
        margin-right: 9px;
      }
      span {
        font-size: 18px;
        line-height: 135%;
      }
      margin-bottom: 15px;
      &:last-of-type {
        max-width: 397px;
        margin-bottom: 0;
      }
    }
    &.horizontal {
      justify-content: flex-end;
      span {
        min-width: 343px;
      }
    }
    // &.align_right {
    //   justify-content: flex-end;
    //   background: linear-gradient(134.17deg, #E8EDF5 4.98%, #ECEFF3 17.62%, #F2F4F7 94.88%);
    //   border-radius: 10px;
    //   padding: 9px 15px 9px 9px;
    //   max-width: 397px;
    //   img {
    //     margin-right: 10px;
    //   }
    // }
    &.margin_bottom {
      margin-bottom: 50px;
    }
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    margin: 0;
    button {
      margin: 20px 0 0 0;
      min-width: 214px;
    }
    &.hidden {
      display: none;
    }
  }
  &:last-of-type {
    margin-bottom: 0;
    .less_margin {
      margin-bottom: 15px;
    }
  }
  &.company {
    padding: 50px 80px;
    .margin_bottom {
      margin-bottom: 54px;
      .big_width {
        max-width: 291px;
      }
      span {
        font-size: 16px;
      }
    }
    input {
      min-width: 304px;
      min-height: 59px;
      background: linear-gradient(134.17deg, #EEF1F5 4.98%, #E6E9EF 94.88%);
      box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.75), inset 5px 5px 7px rgba(193, 199, 207, 0.55);
      border-radius: 10px;
      padding: 18px 31px 18px 15px;
    }
    .large {
      min-width: 653px;
    }
    .medium {
      min-width: 433px
    }
    .buttons {
      justify-content: center;
    }
    .tiny {
      min-width: 280px;
    }
  }
  &.review {
    padding: 60px 100px;
    h2 {
      font-size: 24px;
      line-break: 26.4px;
      margin-bottom: 30px;
    }
    form {
      margin: 0;
    }
    .margin_bottom {
      margin: 0 0 61px 0;
    }
    .account_input {
      span {
        font-size: 16px;
        line-height: 140%;
      }
    }
    .editable_zone {
      width: 100%;
      flex-direction: column;
      margin-top: 25px;
      span {
        font-size: 16px;
        line-height: 22.4px;
      }
    }
    .review_zone {
      background: linear-gradient(134.17deg, #EEF1F5 4.98%, #E6E9EF 94.88%);
      box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.75), inset 5px 5px 7px rgba(193, 199, 207, 0.55);
      border-radius: 10px;
      min-height: 200px;
      width: 100%;
      padding: 15px;
      box-sizing: border-box;
    }
    .review_file {
      width: 100%;
      justify-content: space-between;
      padding: 11px 20px 11px 20px;
      box-sizing: border-box;
      align-self: center;
      border-top: 1px solid rgba(149, 149, 149, 0.5);
      .wrapper {
        align-items: center;
        max-width: 280px;
        justify-content: flex-start;
        img {
          margin-right: 15px;
        }
      }
      button {
        img {
          margin: 0;
        }
      }
    }
    .buttons {
      margin: 60px 0 0 0;
      justify-content: space-between;
      button {
        margin: 0;
      }
    }
    button {
      display: flex;
      justify-content: center;
      img {
        margin-right: 12px;
      }
    }
  }
}
.round {
  width: 23px;
  height: 23px;
  background: linear-gradient(134.17deg, #BBCEFF 4.98%, #1859FF 94.88%);
  box-shadow: -4.52459px -4.52459px 7.54098px rgba(255, 255, 255, 0.8), 3.77049px 3.77049px 7.54098px rgba(166, 180, 200, 0.7);
  border-radius: 24.5082px;
  display: flex;
  justify-content: center;
}