footer {
  padding: 39px 0 29px 0;
  width: 100%;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    img {
      max-width: 164px;
    }
    .logo {
      p {
        margin-top: 15px;
      }
    }
    ul {
      display: flex;
      a {
        text-decoration: none;
        color: black;
        font-size: 16px;
      }
      &.first_ul {
        margin-right: 52px;
        li {
          margin-right: 24px;
          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
    .refs {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      img {
        max-width: 22px;
      }
      :not(:last-of-type) {
        margin-right: 14px;
      }
    }
  }
}