html(lang="ru")
  head
    title Brandhub
    link(rel="stylesheet", href="./css/style.css")
  body
    .container
      include ../included/header.pug
      include ../included/documents_tab.pug
      include ../included/footer.pug
    script(src="./js/main-dist.js")