html(lang="ru")
    head
        title Brandhub
        link(rel="stylesheet", href="./css/style.css")
    .container
        include ../included/header.pug
        include ../included/pick_services.pug
        include ../included/footer.pug