html(lang="ru")
  head
    title Brandhub
    link(rel="stylesheet", href="./css/style.css")
  body
    .container
      include ../included/header.pug
      include ../included/profile_company_edit.pug
      include ../included/footer.pug