main
  .main_wrapper
    include ./main_dashboard.pug
    .wrapper
      .submitted_cards.brief_and_docs  
        .card.new_padding.high
          .text_wrapper
            h3 Текущий проект
            .info
              p i
                .shape.show_hint
          .hovered_block.show_hint
            p тут будут отражены все обновления по текущему проекту: Заказ № {{Номер}}
          .element.submitted  
            h4 Бриф заполнен <br> и отправлен
            span 1 мая, 12:08
            p Спасибо, что отправили бриф, он направлен на проверку, после того..
              a(href="#") Читать полностью>
          .element.submitted
            h4 Составлен перечень <br> документов на подписание
            span 2 мая, 12:08
            p Составлен перечень документов на подписание {{Наименование доку...}}
              a(href="#") Читать полностью
          .element.submitted.no_underscore
            h4 Документы в процессе <br> утверждения
            span 3 мая, 12:08
            p Документы в процессе утверждения. <br> Ожидайте около дня
          button К проекту
        .card.new_padding.docs
          .text_wrapper
            h3 Документы
            .info
              p i
                .shape.show_hint
          .hovered_block.show_hint
            p тут будут отражены все обновления <br> по текущему проекту: Заказ № {{Номер}}
          .element.document.first
            .wrapper
              img(src="./pic/Icon.png", alt="")
              p Наименование <br> документа длинное
            span 2 мая, 12:08
          .element.document
            .wrapper
              img(src="./pic/Icon.png", alt="")
              p Наименование <br> документа длинное
            span 2 мая, 12:08
          button Все документы
        .card.new_padding.last
          img(src="./pic/docs_logo.png", alt="")
          h3 Дополнительные <br> услуги
          p.last Возможно они вас заинтересуют
          button Посмотреть