main
  .main_wrapper
    include ./main_dashboard_documents.pug
    .wrapper.wrapper_projects
      h2.docs_project Документы
      .wrapper
        a(href="../../build/project_documents.html").folder
          img(src="./pic/folder.svg", alt="")
          span Проект №000001
        a(href="../../build/project_documents.html").folder
          img(src="./pic/folder.svg", alt="")
          span Проект "Кошкин Дом"
        a(href="../../build/project_documents.html").folder
          img(src="./pic/folder.svg", alt="")
          span Проект "Кофешоп"