main
    .main_wrapper.email_wrapper
        img(src="./pic/mail_logo.svg", alt="")
        h3 Email подтвержден!
        p Amet minim mollit non deserunt ullamco est sit aliqua dolor do <br> amet sint. Velit officia consequat duis enim...
        .buttons_wrapper
            button.blue Личный кабинет
            button Главная страница
