header
  .header_wrapper
    a(href="index.html")
      img(src="./pic/Logo.png", alt="")
    .wrapper
      button.menu_dropdown
        span Меню верстки
        img.arrow(src="./pic/arrow.svg" alt="")
        ul.links
          a.link(href="Menu-page.html") Главная страница
          a(href="brief_submitted.html").link Главная страница (отправлен бриф)
          a(href="brief_and_docs_submitted.html").link Главная (отправлены бриф и документы)
          a(href="email_submitted.html").link Почта подтверждена
          a(href="projects.html").link Все проекты</a>
          a(href="project.html").link Выбранный проект</a>
          a(href="project_unsubmitted_brief.html").link Проект (неподтвержден бриф)
          a(href="project_approved_brief.html").link Проект (утвержден бриф)
          a(href="project_services_set.html").link Проект (выбраны услуги)
          a(href="project_services_approved.html").link Проект (услуги подтверждены)
          a(href="project_docs_uploaded.html").link Проект (документы отправлены)
          a(href="project_docs_approved.html").link Проект (документы подтверждены)
          a(href="project_results.html").link Проект (результаты)
          a(href="review.html").link Отзыв
          a(href="pick_services.html").link Проект (выбор услуг)
          a(href="services_invoice.html").link Проект (счет полаты услуг)
          a(href="project_services_tab.html").link Проект (страница услуг)
          a(href="docs_of_project.html").link Проект (страница документов)
          a(href="documents_tab.html").link Проект (документы проекта)
          a(href="results_tab.html").link Проект (страница результатов)
          a(href="close_project.html").link Проект (завершение проекта)
          a(href="brief_tab.html").link Проект (страница брифа)
          a(href="documents.html").link Документы (перечень проектов)
          a(href="project_documents.html").link Документы проекта
          a(href="chats.html").link Чаты
          a(href="project_chat.html").link Чаты проекта
          a(href="chat_search.html").link Чаты поиск
          a(href="catalogue.html").link Услуги
          a(href="new_services_invoice.html").link Счет на слуги нового проекта
          a(href="profile_alexey.html").link Редактирование профиля пользователя
          a(href="profile_edit_filled.html").link Профиль
          a(href="profile_companies.html").link Профиль (все компании)
          a(href="profile_company.html").link Профиль одной компании
          a(href="profile_company_edit.html").link Редактирование профиля компании
        button
          img(src="./pic/user_pic_rectang.png", alt="")
          img.arrow(src="./pic/arrow.svg", alt="")
        include ./header_dropdown_menu.pug
   
