.cards  
  .card
    img(src="./pic/card_logo_1.svg", alt="")
    h3 Начать проект
    p Это просто, заполни бриф <br> и отправь на рассмотрение
    button.blue заполнить бриф
  .card
    img(src="./pic/card_logo_2.svg", alt="")
    h3 дополнительные <br> услуги
    p возможно они вас заинтересуют
    button посмотреть
  .card
    img(src="./pic/card_logo_3.svg", alt="")
    h3 информация <br> о профиле
    p.last добавьте дополнительную информацию, подпишитесь на рассылку
    button заполнить