main
  .main_wrapper
    include ./main_dashboard_profile.pug
    .wrapper.wrapper_projects
      .route
        span Профиль
        img(src="./pic/arrow_right.svg", alt="")
        span ООО "Рога и копыта"
      h2.docs_project Профиль
      .brief_block.company 
        h3 ООО "Рога и копыта"
        .wrapper.margin_bottom
          span Юридический адрес
          span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Porta viverra viverra velit facilisis. Eget aliquet lorem enim donec sagittis, a aliquet nisi mattis
        .wrapper.margin_bottom
          span <b>Дополнительная информация</b>
          span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Porta viverra viverra velit facilisis. Eget aliquet lorem enim donec sagittis, a aliquet nisi mattis
        .wrapper.margin_bottom
          span <b>ИНН</b>
          span 1312313213131
        .wrapper.margin_bottom
          span <b>КПП</b>
          span 1312313213131
        .wrapper.margin_bottom
          span <b>ОГРН</b>
          span 1312313213131
        .wrapper.margin_bottom
          span <b>ОКТМО</b>
          span 1312313213131
        .wrapper.margin_bottom
          span <b>ОКВЭД</b>
          span 1312313213131
        .wrapper.margin_bottom
          span <b>Банк</b>
          span ОАО "БАНК"
        .wrapper.margin_bottom
          span <b>Расчетный счет (Р/C)</b>
          span 1312313213131
        .wrapper.margin_bottom
          span.big_width <b>Корреспондентский счет (К/С)</b>
          span 1312313213131
        .wrapper.margin_bottom
          span <b>БИК</b>
          span 1312313213131
        .buttons
          a(href="../../build/profile_company_edit.html")
            button.blue Редактировать
