main
  .main_wrapper
    include ./main_dashboard_projects.pug
    .wrapper.wrapper_projects
      .route
        span Проекты
        img(src="./pic/arrow_right.svg", alt="")
        span Проект # 000001
      h2 Проект № 000001
      .stages
        button.stage.clicked Текущий этап
        button.stage
          a(href="../../build/brief_tab.html") Бриф
        button.stage
          a(href="../../build/project_services_tab.html") Выбранные услуги
        button.stage Документы
        button.stage
          a(href="../../build/results_tab.html") Результат работ
      .block.active
        .info
          .row
            .stage_toggle
              img(src="./pic/arrow.svg", alt="")
              span Этап 1. Заполнение брифа
            .status
              p Текущий статус
              span Бриф не согласован
          .refresh_date
            .column
              p Последнее обновление
              span 3 мая 2020
            .svg_background
              img(src="./pic/tick.svg", alt="")
        .chat.brief_sent
          .message 
            p Спасибо что отправили бриф, он отправлен на проверку, после того как он будет согласован и утвержден мы {{следующее действие}}.
          .message.client  
            p Мне понравилось вот что
            .doc
              img(src="./pic/doc.svg", alt="")
              p Примеры работ
            a(href="../../build/docs_of_project.html") Все загруженные документы>
          .message
            p В текущем виде бриф не согласован. Заполните корректно данные для ЦА нажав “Редактировать бриф”
        .buttons
          a(href="../build/project_docs_approved.html")
            button.blue Редактировать бриф
          button.send_message Задать вопрос
      .block
        .info
          .stage_toggle
            img(src="./pic/arrow.svg", alt="")
            p Этап 2. Выбор услуг
      .block
        .info
          .stage_toggle
            img(src="./pic/arrow.svg", alt="")
            p Этап 3. Формирование проектной документации
      .block
        .info
          .stage_toggle
            img(src="./pic/arrow.svg", alt="")
            p Этап 4. Выполнение проекта
      .block
        .info
          .stage_toggle
            img(src="./pic/arrow.svg", alt="")
            p Этап 5. Результаты работ
      .block
        .info
          .stage_toggle
            img(src="./pic/arrow.svg", alt="")
            p Этап 6. Закрытие проекта