main
  .main_wrapper
    include ./main_dashboard_projects.pug
    .wrapper.wrapper_projects
      h2 Проекты
      a(href="../../build/project.html").project
        .wrapper_title
          h4 Проект № 000003
          span Дата создания проекта: 20.12.2021
        .wrapper_status
          .status
            span Статус:
            span Документы на согласовании
          .status.status_last
            span Действие: 
            span Ожидайте ответа от модератора
      a(href="../../build/project.html").project
        .wrapper_title
          h4 Проект № 000003
          span Дата создания проекта: 20.12.2021
        .wrapper_status
          .status
            span Статус:
            span Документы на согласовании
          .status.status_last
            span Действие: 
            span Ожидайте ответа от модератора
      a(href="../../build/project.html").project
        .wrapper_title
          h4 Проект № 000003
          span Дата создания проекта: 20.12.2021
        .wrapper_status
          .status
            span Статус:
            span Документы на согласовании
          .status.status_last
            span Действие: 
            span Ожидайте ответа от модератора
      button.blue Новый проект
